/** THEME-RED	/ 	GRAY		/	BLACK		/	WHITE
 *	#EB5757			#4F4F4F			#000		#FFF
 *	235, 87, 87		79, 79, 79		0, 0, 0		255, 255, 255
 *
 *	TAPUE		/ 	EMERALD
 *	#F6E7E1			#196057
 *	246, 231, 225	25, 96, 87
 *
 *	BISQUE		/ 	MUTED NAVY
 *	#F0DAC5			#002744
 *	240, 218, 197	0, 39, 68
 *
 *	N-PINK		/	B-BLUE
 *	#F8B3BE			#0C28B1
 *	248, 179, 190	12, 40, 177
 *
 *	THEME-RED LIGHTER TINTS: #ED6969, 	#EF7A7A,	#F5AFAF
 */

body {
	font-family: Avenir-light;
	color: #4F4F4F;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none
}

.navbar {
	z-index: 1;
	font-family: proxima-nova
}

.name {
	color: #EB5757
}

.logo {
    background-image: url(./img/meetHere.svg);
}

.brand {
	font-size: 1.2em;
	cursor: pointer;
	border: none
}

.brand:hover, .brand:active {
	opacity: 0.75;
	border: none
}

.top:hover {
    -webkit-animation: bounce 0.75s;
    -moz-animation: bounce 0.75s;
    animation: bounce 0.75s
}

@-webkit-keyframes bounce {
    0%, 100%, 20%, 53%, 80% {
        -webkit-animation-timing-function: cubic-bezier(0.1075, .305, .1775, 0.5);
        animation-timing-function: cubic-bezier(0.1075, .305, .1775, 0.5);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.3775, .025, .4275, .030);
        animation-timing-function: cubic-bezier(0.3775, .025, .4275, .030);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0)
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.3775, .025, .4275, .030);
        animation-timing-function: cubic-bezier(0.3775, .025, .4275, .030);
        -webkit-transform: translate3d(0, -7.5px, 0);
        transform: translate3d(0, -7.5px, 0)
    }

    90% {
        -webkit-transform: translate3d(0, -2px, 0);
        transform: translate3d(0, -2px, 0)
    }
}

@keyframes bounce {
    0%, 100%, 20%, 53%, 80% {
        -webkit-animation-timing-function: cubic-bezier(0.1075, .305, .1775, 0.5);
        animation-timing-function: cubic-bezier(0.1075, .305, .1775, 0.5);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.3775, .025, .4275, .030);
        animation-timing-function: cubic-bezier(0.3775, .025, .4275, .030);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0)
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.3775, .025, .4275, .030);
        animation-timing-function: cubic-bezier(0.3775, .025, .4275, .030);
        -webkit-transform: translate3d(0, -7.5px, 0);
        transform: translate3d(0, -7.5px, 0)
    }

    90% {
        -webkit-transform: translate3d(0, -2px, 0);
        transform: translate3d(0, -2px, 0)
    }
}

.nav-links {
	position: fixed;
	right: 3.5%;
	font-size: 1.05em
}

.page-link {
	position: relative;
	display: inline-block;
	line-height: 1.2em;
	border: none;
	color: #EB5757;
	opacity: 0.5;
	transition: all 0.15s ease-in-out
}

.page-link:before {
	display: block;
	content: '';
	border-top: solid 2px;  
	transform: scaleX(0);  
	transition: all 0.25s ease-in-out
}

.page-link:after {
	display: block;
	content: '';
	border-bottom: solid 2px;  
	transform: scaleX(0);  
	transition: all 0.25s ease-in-out
}

.page-link:hover {
	border: none;
	opacity: 1
}
  
.page-link:hover:before, .page-link:hover:after{
	transform: scaleX(1)
}

.help {
	font-size: 0.75em
}

.page-link.help:hover:before {
	transform: scaleX(0)
}

.intro {
	font-size: 3em;
}

.bg-west {
	background-image: url(./img/placeholder-bullshit.jpg)
}

.buffer {
	height: 50px
}

.col-third {
	position: relative;
	float: left;
	width: 33.333333%;
	text-align: center;
	padding: 75px 0 25px
}

.number {
	background: #EB5757;
	font-size: 1.5em;
	padding: 1em 1.25em 0.8em 1.25em;
	border-radius: 50%;
	display: inline-block;
	color: #fff
}

.label {
	color: #000;
	font-weight: 300
}

.current-page, .current-page:hover {
	color: #EB5757;
	border: 1px solid;
	border-radius: 3px;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	cursor: default
}

.sup {
	font-size: 2.25em;
	padding-bottom: 20px;
	color: #EB5757;
	font-family: Avenir
}

.sup:first-of-type {
	padding-top: 40px;
	padding-bottom: 80px;
	color: #000;
}

.sup:last-of-type {
	padding: 0
}

input, input:focus, input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	
	outline: none;
	height: 1.75em;
	font-size: 2em;
	border: 1px solid #000;
	padding-left: 10px;
	font-weight: normal;
	text-emphasis: none;
	font-family: Avenir;
	margin-bottom: 60px
}

input:not(.mo), input:not(.mo):focus {
	width: 90vw;
	max-width: 600px
}

.user-adder {
	padding-top: 0.25em
}

.material, .material:focus {
	border: none
}

.material, .material:focus, .material-button, .material-button:hover, .material-button-h, .material-button-h:hover  {
	transition: all 0.25s ease-in-out
}

.material:focus, .material-button:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
}

.material-button-h:hover {
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 0px 5px 0 rgba(0, 0, 0, 0.12), 0 0px 1px -2px rgba(0, 0, 0, 0.2)
}

/*
.material:focus {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2)
}
*/

.modal > .content > .btn {
	height: 1.5em;
	line-height: 1.75em;
	font-size: 1.75em;
	background: #EF7A7A;
	color: #000; /* #E4E4E4*/
	padding: 0 10px 2px 10px;
	display: inline-block;
	text-decoration: none;
	border: none;
	transition: 0.35s ease-in-out
}

.button {
	position: absolute;
	top: 0;
	right: 0;
	height: 1.75em;
	line-height: 2em;
	font-size: 2em;
	background: #EF7A7A; /* #ED6969*/
	color: black;
	border-left: none;
	padding: 0 10px 2px 10px;
	cursor: pointer
}

.support-button {
	height: 1.75em;
	line-height: 2em;
	font-size: 2em;
	color: #F6E7E1	;
	background: #EF7A7A; /* #ED6969*/
	padding: 0 10px 2px 10px;
	margin-right: 0.5em;
	cursor: pointer
}

.support-button:last-of-type {
	margin: 0
}

.overlay {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
	position: fixed;
	top: 0;
	left: 0;
	background: rgb(0, 0, 0); /* fallback */
	background: rgba(0, 0, 0, 0.75);
	opacity: 0;
	pointer-events: none;
	transition: 0.35s ease-in-out;
	max-height: 100vh;
	overflow-y: auto
}
.overlay.open {
	opacity: 1;
	pointer-events: inherit;
	z-index: 999
}
.overlay .modal {
	background: white;
	text-align: center;
	padding: 40px 40px 20px;
	opacity: 0;
	pointer-events: none;
	transition: 0.35s ease-in-out;
	max-height: 100vh;
	overflow-y: auto
}
.overlay .modal.open {
	opacity: 1;
	pointer-events: inherit
}
.overlay .modal.open .content {
	transform: translate(0, 0px);
	opacity: 1;
	padding: 0
}
.overlay .modal .content {
	transform: translate(0, -10px);
	opacity: 0;
	transition: 0.35s ease-in-out
}
.overlay .modal .title {
	margin-top: 0
}

input, .password, .button {
  box-sizing: border-box
}

.input-container {
	position: relative;
	display: inline-block;
	width: 90vw;
	max-width: 600px
}

.added-user {
	float: left;
	cursor: pointer;
	background: #91DCE8;
	height: 1.5em;
	display: inline-block;
	padding: 0.5em 0.5em 0 0.5em;
	margin: 0 0.5em 0.5em 0
}

.added-user:after {
	padding-left: 1em;
	line-height: 2.25em;
	vertical-align: top;
	font-size: 0.5em;
	font-family: FontAwesome;
	content: '\f057';
	color: #4F4F4F
}

.highlight {
	position: relative;
	display: inline-block;
	line-height: .1em;
	border: none
}

.highlight:after {
	display: block;
	content: '';
	height: 0.41em
}

.green-highlight:after {
	background: mediumaquamarine
}

.pink-highlight:after {
	background: lightpink
}

.yellow-highlight:after {
	background: palegoldenrod
}

.gray-highlight:after {
	background: #E4E4E4
}

.bisque-highlight:after {
	background: #F0DAC5
}

.sky-highlight:after {
	background: #91DCE8
}

.theme-highlight:after {
	background: rgb(235, 87, 87); /* fallback */
	background: rgba(235, 87, 87, 0.75)
}

.theme-light-highlight:after {
	background: #F5AFAF
}

svg.anim {
	width: 60%;
	height: auto;
	stroke-width: 0.375px
}

svg.anim > * {
	transition: opacity 1.5s ease
}

#df2, #p2 {
	stroke: #A0A0A0
}

#ae2 {
	stroke: #F0DAC5
}

#ab2, #ad2, #c3 {
	stroke: #F5AFAF
}

#bc2, #c2, #c4 {
	stroke: #91DCE8
}

#c2, #c3, #c4, #c5 {
	fill: none
}

#p2, #ab2 {
	stroke-linecap: round
}

#cb2 {
	stroke: #E9E6E3
}

.support-backdrop {
	position: fixed;
	bottom: 0;
	background: #EB5757
}

.sup-name, .support-backdrop-title {
	cursor: pointer
}

.fa-angle-down {
	vertical-align: middle;
	color: #A0A0A0
}

.marker {
   	animation: fade 0.45s 0.3s forwards, pulse 1s ease-in-out infinite alternate;
	transition: all .6s;
	background-color: #EB5757;
	border-radius: 50%;
	box-shadow: 0 0 0 0.25em #EB5757, 0 0 3px rgba(235, 87, 87, 0.4);
	display: block;
	height: 0.25em;
	width: 0.25em;
	opacity: 0;
	position: fixed;
	z-index: 0
}

.marker:after {
	animation: sonar 2s linear infinite;
	border-radius: 50%;
	box-shadow: 0 0 0 1px #EB5757;
	content: '';
	height: 2.5em;
	width: 2.5em;
	margin: -1.25em 0 0 -1.25em;
	position: absolute;
	top: 50%;
	left: 50%
}

.larger-marker {
	height: 0.5em;
	width: 0.5em;
}

.larger-marker:after {
	height: 5em;
	width: 5em;
	margin: -2.5em 0 0 -2.5em;
	animation: semi-sonar 2s linear infinite;
}

.marker-1 {
	background: #F0DAC5;
	box-shadow: 0 0 0 0.25em #F0DAC5, 0 0 3px rgba(246, 231, 225, 0.4);
}

.marker-1:after {
	box-shadow: 0 0 0 1px #F0DAC5;
}

.marker-2 {
	background: #A0A0A0;
	box-shadow: 0 0 0 0.25em #A0A0A0, 0 0 3px rgba(160, 160, 160, 0.4);
}

.marker-2:after {
	box-shadow: 0 0 0 1px #A0A0A0;
}

.blue-marker {
	background: #91DCE8;
	box-shadow: 0 0 0 0.25em #91DCE8, 0 0 3px rgba(145, 220, 232, 0.4);
	height: 0.8em;
	width: 0.8em;
}

.blue-marker:after {
	box-shadow: 0 0 0 3px #91DCE8;
	height: 8em;
	width: 8em;
	margin: -4em 0 0 -4em;
}

@keyframes pulse {
	0% {
		transform: scale3d(0.8, 0.8, 0.8)
	}
	100% {
		transform: scale3d(1, 1, 1)
	}
}

@keyframes sonar {
	0% {
		transform: scale3d(0.5, 0.5, 0.5);
		opacity: 1
	}
	50%, 100% {
		transform: scale3d(1, 1, 1);
		opacity: 0
	}
}

@keyframes semi-sonar {
	0% {
		transform: scale3d(0.375, 0.375, 0.375);
		opacity: 1
	}
	50%, 100% {
		transform: scale3d(0.625, 0.625, 0.625);
		opacity: 0
	}
}

@keyframes fade {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@keyframes fadeLine {
	0% {
		stroke: #4F4F4F
	}
	100% {
		stroke: rgba(79, 79, 79, 0.075);
	}
}

.line {
	stroke: rgba(79, 79, 79, 0.075);
	animation: fadeLine 2.5s ease-in-out;
}


/* MOBILE */


@media only screen and (max-width: 799px) {
	.intro {
		font-size: 10vw
	}
	svg.anim {
		width: 100vw;
		stroke-width: 1px;
		padding-top: 50px
	}
	.col-third {
		float: none;
		width: 100%;
		padding: 7.5vw 0 7.5vw
	}
	.col-third:last-of-type {
		padding-bottom: 15vw
	}
	.number {
		font-size: 5vw;
		padding: 1em 1.25em 0.8em 1.25em;
		border-radius: 50%
	}
	.label {
		font-size: 3.75vw
	}
	.overlay {
		padding: 0;
		font-size: 3.5vw
	}
	.overlay .modal {
		padding: 7.5% 5%;
		max-width: 90%
	}
	input.mo {
		max-width: 90vw;
		margin-bottom: 15%
	}
	.create-title {
		font-size: 7.5vw !important
	}
	.create-name {
		font-size: 12.5vw !important
	}
	.signup-input-head {
		font-size: 7.5vw !important
	}
	.sup {
		font-size: 8.75vw
	}
	.support-backdrop-title {
		font-size: 7.5vw !important;
		padding-left: .75em !important
	}
	h1 {
		font-size: 7vw;
		width: 90vw
	}
	.material, .material:focus {
		font-size: 7vw;
		margin-bottom: 5vw;
	}
	.support-button {
		font-size: 5vw
	}
	.user-adder {
		padding-top: 0.5em
	}
}
@media only screen and (min-width: 800px) {
	svg.anim {
		position: fixed
	}
}
